<!DOCTYPE html>
<head>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>
    <div name="login_content">
        <form>
            <table>
                <tr>
                    <td>账号</td>
                    <td><input type="text" name="username"></text></td>
                </tr>  
                <tr>
                    <td>密码</td>>
                    <td><input type="password" name="password"></td>
                </tr>  
                <tr>
                    <td><button type="submit" name="登录"></button></td>
                </tr>  
            </table>
        </form>
    </div>
</body>
